.EditProfileForm {
  margin: 25px;
}

.EditProfileForm-form {
  text-align: center;
  padding: 1em;
  background-color: #6610f2;
  border-radius: 2rem;
  width: 30rem;
}

.form-input {
  width: 400px;
  margin: 0.5rem;
}
