.LoginForm {
  padding: 25px;
}

.login-form {
  text-align: center;
  padding: 1em;
  background-color: #6610f2;
  width: 30rem;
  border-radius: 2rem;
}

.form-input {
  width: 400px;
  margin: 0.5rem;
}
